{% extends 'meta.html' %}
{% block content %}
<h1>Manage Users</h1>
<br>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
	text-align: center;
}
</style>
<table style='width:100%;'>
	<tr>
		<th>Username</th>
		<th>Email</th>
		<th>Admin</th>
{% if superadmin %}<th>Actions</th>{% endif %}
	</tr>
{% for user in users.iterate_all() %}
{% if not user.custom_claims.get('superadmin') %}
	<tr>
		<td>{{ user.display_name }}</td>
		<td>{{ user.email }}</td>
		<td>{% if user.custom_claims and user.custom_claims.get('admin') %}
		{% set is_admin = True %}Yes{% else %}{% set is_admin = False %}No{% endif %}</td>
	{% if superadmin %}
		<td>
{% if is_admin %}<a href='{{ url_for("users.make_admin", admin=0, uid=user.uid) }}'>Remove as Admin</a>
{% else %}<a href='{{ url_for("users.make_admin", admin=1, uid=user.uid) }}'>Make Admin</a><br>{% endif %}
		</td>
	{% endif %}
	</tr>
{% endif %}
{% endfor %}
</table>
{% endblock %}